*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
span{
    color:#FF42A5;
}
.gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* nav style  */
nav.navbar-section {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
    display: flex;
    gap:10px;
    align-items: center;
}

/* .logo-img{
    margin-top: 10px
} */
.nav-list {
    margin-top: 28px;
    cursor: pointer;
}

nav > div > ul {
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav li a{
    text-decoration: none;
    color: #3C354F;
}
.nav-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.folw-us {
    width: 251px;
    height: 33px;
    margin-top: -17px;
    padding-top: 17px;
    padding-bottom: 7px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner style  */
.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    gap: 12px;
}
.banner-text-item {
    /* background-image: url(../images/group14.png),linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
width: 901px;
height: 700px; */
    background: url(../images/group14.png);
    background-size:100%;
    margin:100px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1.banner-heading {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
} 
h1.banner-text-goat {
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
}

p.banner-text-pera {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}
.btn-grp {
    display: inline-flex;
    gap: 20px;
    margin-top: 20px;
}
button.btn-primary {
    border-radius: 3rem;
    background:#FF42A5;
    border: none;
    padding: 21px 40px;
    color: white;
    cursor: pointer;
}
button.btn-secondary {
    border-radius: 3rem;
    background:#4EC5F7;
    border: none;
    padding: 21px 40px;
    color: white;
    cursor: pointer;
}

/* online-game section  */
.online-game {
    margin-top: 132px;
}
.online-game-head {
    text-align: center;
}
.online-game-heading{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-pera{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.game-poster-1 img{
    width: 300px;
    height: 400px;
}

.online-game-poster {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 50px;
    margin-right: 43px;
    /* border: none; */
}

.poster-title {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

/* play style  */
.play-heading{
    font-size: 3rem;
    font-weight: 700;
}
.play-pera{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}
.play-instantly-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 121px;
    gap: 30px;
}
.play-text {
    margin-left: 195px;
    margin-bottom: 212px;
}

.img-rec {
    position: relative;
    /* margin-bottom: 61px; */
    bottom: 293px;
    right: 34px;
}

.button-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
    padding: 20px;
    margin-top: -180px;
}
    .btn-box {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 50px;
        background: #FFF;
        border: 1px solid #FFF;
        /* padding: -4px 24px; */
    }
.btn-box:hover{
    border:  1px solid #FF42A5;
}
    .btn-img {
        width: 67px;
        height: 61px;
    }
    .btn-text {
        color: #0B0223;
        font-size: 1.1rem;
        font-weight: 600;
        padding-right: 18px;
    }
.btn-box:hover .btn-text:hover{
    color: #FF42A5;
}

/* footer style  */
.footer {
    margin-top: 20px;
    padding-top: 120px;
    text-align: center;
    background: #0B0223;
}
.logo-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    /* text-align: center; */
    margin-left: 538px;
    padding-top: 17px;
}
.footer-list {
    padding-top: 33px;
}
.nav-title-footer {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-top: 26px;
    padding-top: 15px;
}

.footer-list > ul {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 54px;
    justify-content: center;
}
.footer-list-2 > ul {
    color: rgba(255, 255, 255, 0.60);
    list-style: none;
    display: flex;
    gap: 19px;
    justify-content: center;
    font-size: 1rem;
    /* margin-bottom: 20px; */
    padding-top: 38px;
    padding-bottom: 38px;
}
.footer-list li a{
    color: #FFF;
    text-decoration: none;
}
.footer-list-2 li a{
    color: #FFF;
    text-decoration: none;
}
p.footer-copy {
    padding-bottom: 46px;
    color: rgba(255, 255, 255, 0.60);
}

/* respnsive css */
/* Moble style  */
@media screen and (max-width:576px) {
    nav.navbar-section{
        flex-direction: column;
        box-shadow: none;
        height: 100%;
        margin-top: 10px
    }
    nav > div > ul {
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    /* .banner-img{
        height: 130px;
    } */
}